.login-background {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    133.84deg,
    #4e4e4e -16.04%,
    #333333 9.33%,
    #1a1a1a 32.02%,
    #1a1a1a 62.06%,
    #262626 87.42%,
    #4e4e4e 112.12%
  );
}

.login-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 470px;
}

.login-id-box {
  margin-top: 43px;
  width: 100%;
  position: relative;
}

.login-person {
  position: absolute;
  width: 18px;
  top: 20px;
  left: 34px;
}

.login-id {
  box-sizing: border-box;
  width: 100%;
  height: 61px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  color: #ffffff;
  font-family: "500";
  font-size: 13px;
  padding: 0px 71px;
  border: none;
  &::placeholder {
    color: #ffffff;
  }
  &:focus {
    outline: 1px solid #6be2be;
  }
}

.login-pw-box {
  @extend .login-id-box;
  margin-top: 19px;
  width: 100%;
}

.login-lock {
  @extend .login-person;
}

.login-pw {
  @extend .login-id;
}

.login-btn {
  width: 100%;
  height: 61px;
  background: #6be2be;
  border-radius: 50px;
  border: none;
  font-family: "700";
  font-size: 15px;
  margin-top: 19px;
}
