.map-background {
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    102.15% 197.75% at 100% 100%,
    #151d28 73.91%,
    #004c67 100%
  );
  display: flex;
  flex-direction: column;
}

.map-contaniner {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 24px 40px;
  display: flex;
  justify-content: space-between;
}

.map-left-box {
  width: 309px;
  height: 100%;
  box-sizing: border-box;
  background: linear-gradient(
    133.84deg,
    #4e4e4e -16.04%,
    #333333 9.33%,
    #1a1a1a 32.02%,
    #1a1a1a 62.06%,
    #262626 87.42%,
    #4e4e4e 112.12%
  );
  box-shadow: 2px 6px 15px 2px rgba(0, 0, 0, 0.8);
}

.map-info-box {
  width: 100%;
  height: 196px;
  display: flex;
  flex-direction: column;
}

.map-info-header {
  width: 100%;
  height: 54px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  > img {
    margin-left: 20px;
  }
  border-bottom: 1px solid #ffffff;
}

.map-header-title {
  margin-left: 8px;
  font-family: "600";
  font-size: 20px;
}

.map-top-main {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px 20px;
}

.info-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  > div {
    display: flex;
    flex-direction: column;
    width: 130px;
  }
}

.map-info-title {
  font-family: "600";
  font-size: 14px;
  color: #b1c7df;
}

.info-name,
.info-gender,
.info-age,
.info-num {
  width: 100%;
  height: 28px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  line-height: 28px;
  font-size: 13px;
  padding: 0px 4px;
  margin-top: 3px;
}

.info-bottom {
  @extend .info-top;
  margin-top: 8px;
}

.map-process-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.map-process-header {
  @extend .map-info-header;
  display: flex;

  > div {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
}

.target-mode {
  margin-left: 10px;
  font-family: "600";
  font-size: 20px;
  color: #ff7e78;
}
.walking-mode {
  @extend .target-mode;
  color: #9290fe;
}

.map-right-box {
  width: 1512px;
  box-sizing: border-box;
  height: 100%;
  background: linear-gradient(
    133.84deg,
    #4e4e4e -16.04%,
    #333333 9.33%,
    #1a1a1a 32.02%,
    #1a1a1a 62.06%,
    #262626 87.42%,
    #4e4e4e 112.12%
  );
  box-shadow: 2px 6px 15px 2px rgba(0, 0, 0, 0.8);
}

/* 프로세스 메뉴들 완료 전 색상 */
.uncomplete {
  background-color: #363636;
  color: #ffffff;
}

/* 태그 숨기는 클래스 */
.hidden {
  display: none;
}
