@charset "UTF-8";
/* -------- */
/* 공통 사용 */
/* -------- */
.modal-background {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 4;
}

.modal-header {
  width: 100%;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid #ffffff;
}

.modal-header-left, .walking-modal-header-left, .target-modal-header-left, .deveice-modal-header-left {
  width: 89px;
  display: flex;
  justify-content: space-between;
  margin-left: 26.5px;
}

.modal-title {
  font-family: "700";
  font-size: 20px;
}

.modal-close-btn {
  line-height: 0;
  margin-right: 21px;
  background-color: transparent;
  border: none;
}

.modal-cancel-btn {
  width: 117px;
  height: 46px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: transparent;
}

.modal-save-btn, .modal-confirm-btn, .modal-delete-btn {
  width: 117px;
  height: 46px;
  color: black;
  background: #6be2be;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* ------------*/
/* new-add.html*/
/* ------------*/
.new-modal-box {
  width: 596px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  border-radius: 6px;
}

.new-modal-main {
  box-sizing: border-box;
  padding: 24px 20px;
}
.new-modal-main > div {
  display: flex;
  flex-direction: column;
}
.new-modal-main > div:nth-child(2), .new-modal-main > div:nth-child(3), .new-modal-main > div:nth-child(4), .new-modal-main > div:nth-child(5), .new-modal-main > div:nth-child(6) {
  margin-top: 10px;
}
.new-modal-main > div:nth-last-child(1) {
  display: flex;
  flex-direction: row;
}

.new-main-title {
  font-size: 13px;
  color: #d9d9d9;
}

.new-phone-num,
.new-name,
.new-gender,
.new-age,
.new-location {
  width: 100%;
  height: 44px;
  padding: 0 16px;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  background-color: transparent;
  outline: none;
  margin-top: 8px;
  font-size: 18px;
}

.new-gender {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("/css/icons/caret-down.svg") no-repeat right 16px center;
  font-size: 18px;
}
.new-gender > option {
  color: black;
}

.new-age::-webkit-outer-spin-button, .new-age::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.new-info {
  width: 100%;
  height: 165px;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  background-color: transparent;
  outline: none;
  margin-top: 8px;
  padding: 10px 8px;
  font-size: 18px;
}

.new-modal-btn {
  display: flex;
  width: 249px;
  margin: 0 auto;
  margin-top: 24px;
  box-sizing: border-box;
  justify-content: space-between;
}

/* ----------- */
/* delete.html */
/* ----------- */
.delete-modal-box {
  width: 596px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  border-radius: 6px;
  width: 425px;
}

.delete-modal-main, .save-modal-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-text {
  margin-top: 48px;
  font-family: "700";
  font-size: 20px;
}

.delete-modal-btn, .save-modal-btn {
  display: flex;
  width: 249px;
  margin: 0 auto;
  margin-top: 24px;
  box-sizing: border-box;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 24px;
}

/* --------- */
/* save.html */
/* --------- */
.save-modal-box {
  width: 596px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  border-radius: 6px;
  width: 425px;
}

/* ----------- */
/* choice.html */
/* ----------- */
.device-modal-box {
  width: 596px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  border-radius: 6px;
  width: 425px;
}

.deveice-modal-header-left {
  width: 138.5px;
}

.device-modal-main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 24px 16px;
}

.device-location {
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  padding-left: 16px;
  background: url("/css/icons/caret-down.svg") no-repeat right 16px center;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}
.device-location > option {
  color: black;
}

.device-mode-box {
  width: 100%;
  box-sizing: border-box;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}
.device-mode-box > div {
  display: flex;
  justify-content: space-between;
  width: 198px;
  margin-top: 8px;
}
.device-mode-box > div > label {
  font-size: 18px;
}
.device-mode-box > div > label > input {
  margin-right: 8px;
  accent-color: #6be2be;
}

.device-main-tilte {
  font-family: "500";
  font-size: 18px;
}

.device-start-box, .device-end-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.device-start, .device-end {
  width: 100%;
  box-sizing: border-box;
  margin-top: 8px;
  height: 44px;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  padding-left: 16px;
  background-color: transparent;
  outline: none;
  font-size: 18px;
}

.device-start-btn {
  width: 100%;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.minute-btn {
  width: 87px;
  height: 29px;
  background: #6be2be;
  border-radius: 6px;
  border: none;
  color: #1a1a1a;
  font-family: "500";
}

.device-modal-btn {
  display: flex;
  width: 249px;
  margin: 0 auto;
  margin-top: 24px;
  box-sizing: border-box;
  justify-content: space-between;
  margin-top: 48px;
}

/* ----------- */
/* target.html */
/* ----------- */
.target-modal-box {
  width: 596px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  border-radius: 6px;
  width: 1325px;
}

.target-modal-header-left {
  width: 174.5px;
}

.target-main-container {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.target-main-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.target-main-title {
  width: 180px;
  height: 45px;
  background-color: #6be2be;
  color: black;
  font-family: "700";
  font-size: 20px;
  text-align: center;
  line-height: 45px;
}

.target-location {
  color: #6be2be;
}

.target-main-box {
  width: 100%;
  box-sizing: border-box;
  padding: 24px;
  border: 4px solid #6be2be;
  display: flex;
  justify-content: space-between;
}

.target-main-left {
  display: flex;
  flex-direction: column;
}

.target-time-box {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 253px;
  padding: 16px;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  border-radius: 6px;
}
.target-time-box > div {
  display: flex;
  flex-direction: column;
}
.target-time-box > div:nth-child(2) {
  margin-top: 16px;
}

.target-time-title {
  font-family: "500";
  font-size: 14px;
}

.target-time-start,
.target-time-end {
  width: 100%;
  height: 28px;
  box-sizing: border-box;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  padding-left: 16px;
  line-height: 28px;
  margin-top: 8px;
}

.target-area-box {
  width: 253px;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  border-radius: 6px;
  margin-top: 16px;
}

.target-area-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.area-header-text {
  font-size: 14px;
}

.target-area-main {
  width: 100%;
  height: 254px;
  background-color: #5a5a5a;
  margin-top: 8px;
}

.target-area-btn {
  width: 100%;
  height: 30px;
  margin-top: 8px;
  background-color: #6be2be;
  border: none;
  color: #1a1a1a;
  font-family: "500";
  font-size: 13px;
}

.target-main-right {
  width: 960px;
  height: auto;
  border: 2px solid #6be2be;
  border-radius: 6px;
}

/* ------------ */
/* walking.html */
/* ------------ */
.walking-modal-box {
  width: 596px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  border-radius: 6px;
  width: 952px;
}

.walking-modal-header-left {
  width: 168px;
}

.walking-main-container {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.walking-main-header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.walking-main-title {
  width: 180px;
  height: 45px;
  background-color: #6be2be;
  font-size: 20px;
  font-family: "700";
  color: black;
  text-align: center;
  line-height: 45px;
}

.walking-location {
  color: #6be2be;
}

.walking-main-box {
  width: 100%;
  box-sizing: border-box;
  padding: 24px;
  border: 4px solid #6be2be;
  display: flex;
  flex-direction: column;
}

.walking-main-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.walking-top-left {
  display: flex;
  flex-direction: column;
  height: 226px;
  justify-content: space-between;
  box-sizing: border-box;
}

.walking-time-box {
  width: 259px;
  height: 154px;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 16px;
}
.walking-time-box > div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.walking-time-box > div:nth-child(2) {
  margin-top: 16px;
}

.walking-time-title {
  font-family: "500";
  font-size: 14px;
}

.walking-time-start,
.walking-time-end {
  width: 100%;
  height: 28px;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  box-sizing: border-box;
  padding-left: 16px;
  line-height: 28px;
  margin-top: 8px;
}

.walking-area-box {
  width: 259px;
  height: 52px;
  box-sizing: border-box;
  padding: 0px 16px;
  line-height: 52px;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}

.walking-area-text {
  font-size: 14px;
}

.walking-top-right {
  width: 581px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.walking-box {
  width: 164px;
  height: 226px;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  box-sizing: border-box;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.walking-background {
  width: 100%;
  height: 170px;
  background: #5a5a5a;
}

.walking-start-btn,
.walking-end-btn,
.walking-complete-btn {
  width: 100%;
  height: 30px;
  background-color: #6be2be;
  font-family: "500";
  font-size: 14px;
  border: none;
  color: black;
}

.walking-main-bottom {
  width: 100%;
  height: 486px;
  box-sizing: border-box;
  border: 2px solid #6be2be;
  border-radius: 6px;
  margin-top: 16px;
}

/* 태그 숨기기 클래스명 */
.hidden {
  display: hidden;
}/*# sourceMappingURL=modals.css.map */