@charset "UTF-8";
/* -------- */
/* 공통 사용 */
/* -------- */
.modal-background {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 4;
}

.modal-header {
  width: 100%;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid #ffffff;
}

.modal-header-left, .backup-modal-header-left, .large-modal-header-left, .human-modal-header-left, .walking-modal-header-left, .target-modal-header-left, .deveice-modal-header-left {
  width: 89px;
  display: flex;
  justify-content: space-between;
  margin-left: 26.5px;
}

.modal-title {
  font-family: "700";
  font-size: 20px;
}

.modal-close-btn {
  line-height: 0;
  margin-right: 21px;
  background-color: transparent;
  border: none;
}

.modal-cancel-btn {
  width: 117px;
  height: 46px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: transparent;
}

.modal-save-btn, .modal-request-btn, .modal-confirm-btn, .modal-delete-btn {
  width: 117px;
  height: 46px;
  color: black;
  background: #6be2be;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* ------------*/
/* new-add.html*/
/* ------------*/
.new-modal-box {
  width: 596px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  border-radius: 6px;
}

.new-modal-main {
  box-sizing: border-box;
  padding: 24px 20px;
}
.new-modal-main > div {
  display: flex;
  flex-direction: column;
}
.new-modal-main > div:nth-child(2), .new-modal-main > div:nth-child(3), .new-modal-main > div:nth-child(4), .new-modal-main > div:nth-child(5), .new-modal-main > div:nth-child(6) {
  margin-top: 10px;
}
.new-modal-main > div:nth-last-child(1) {
  display: flex;
  flex-direction: row;
}

.new-main-title {
  font-size: 13px;
  color: #d9d9d9;
}

.new-phone-num,
.new-name,
.new-gender,
.new-age,
.new-location {
  width: 100%;
  height: 44px;
  padding: 0 16px;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  background-color: transparent;
  outline: none;
  margin-top: 8px;
  font-size: 18px;
}

.new-gender {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("/css/icons/caret-down.svg") no-repeat right 16px center;
  font-size: 18px;
}
.new-gender > option {
  color: black;
}

.new-age::-webkit-outer-spin-button, .new-age::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.new-info {
  width: 100%;
  height: 165px;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  background-color: transparent;
  outline: none;
  margin-top: 8px;
  padding: 10px 8px;
  font-size: 18px;
}

.new-modal-btn {
  display: flex;
  width: 249px;
  margin: 0 auto;
  margin-top: 24px;
  box-sizing: border-box;
  justify-content: space-between;
}

/* ----------- */
/* delete.html */
/* ----------- */
.delete-modal-box {
  width: 596px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  border-radius: 6px;
  width: 425px;
}

.delete-modal-main, .save-modal-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-text {
  margin-top: 48px;
  font-family: "700";
  font-size: 20px;
}

.delete-modal-btn, .save-modal-btn {
  display: flex;
  width: 249px;
  margin: 0 auto;
  margin-top: 24px;
  box-sizing: border-box;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 24px;
}

/* --------- */
/* save.html */
/* --------- */
.save-modal-box {
  width: 596px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  border-radius: 6px;
  width: 425px;
}

/* ----------- */
/* choice.html */
/* ----------- */
.device-modal-box {
  width: 596px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  border-radius: 6px;
  width: 425px;
}

.deveice-modal-header-left {
  width: 138.5px;
}

.device-modal-main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 24px 16px;
}

.device-location {
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  padding-left: 16px;
  background: url("/css/icons/caret-down.svg") no-repeat right 16px center;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}
.device-location > option {
  color: black;
}

.device-mode-box {
  width: 100%;
  box-sizing: border-box;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}
.device-mode-box > div {
  display: flex;
  justify-content: space-between;
  width: 198px;
  margin-top: 8px;
}
.device-mode-box > div > label {
  font-size: 18px;
}
.device-mode-box > div > label > input {
  margin-right: 8px;
  accent-color: #6be2be;
}

.device-main-tilte {
  font-family: "500";
  font-size: 18px;
}

.device-start-box, .device-end-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.device-start, .device-end {
  width: 100%;
  box-sizing: border-box;
  margin-top: 8px;
  height: 44px;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  padding-left: 16px;
  background-color: transparent;
  outline: none;
  font-size: 18px;
}

.device-start-btn {
  width: 100%;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.minute-btn {
  width: 87px;
  height: 29px;
  background: #6be2be;
  border-radius: 6px;
  border: none;
  color: #1a1a1a;
  font-family: "500";
}

.device-modal-btn {
  display: flex;
  width: 249px;
  margin: 0 auto;
  margin-top: 24px;
  box-sizing: border-box;
  justify-content: space-between;
  margin-top: 48px;
}

/* ----------- */
/* target.html */
/* ----------- */
.target-modal-box {
  width: 596px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  border-radius: 6px;
  width: 1325px;
}

.target-modal-header-left {
  width: 174.5px;
}

.target-main-container {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.target-main-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.target-main-title {
  width: 180px;
  height: 45px;
  background-color: #6be2be;
  color: black;
  font-family: "700";
  font-size: 20px;
  text-align: center;
  line-height: 45px;
}

.target-location {
  color: #6be2be;
}

.target-main-box {
  width: 100%;
  box-sizing: border-box;
  padding: 24px;
  border: 4px solid #6be2be;
  display: flex;
  justify-content: space-between;
}

.target-main-left {
  display: flex;
  flex-direction: column;
}

.target-time-box {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 253px;
  padding: 16px;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  border-radius: 6px;
}
.target-time-box > div {
  display: flex;
  flex-direction: column;
}
.target-time-box > div:nth-child(2) {
  margin-top: 16px;
}

.target-time-title {
  font-family: "500";
  font-size: 14px;
}

.target-time-start,
.target-time-end {
  width: 100%;
  height: 28px;
  box-sizing: border-box;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  padding-left: 16px;
  line-height: 28px;
  margin-top: 8px;
}

.target-area-box {
  width: 253px;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  border-radius: 6px;
  margin-top: 16px;
}

.target-area-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.target-area-text {
  font-size: 14px;
}

target-area-toggle {
  display: flex;
}

#toggle-btn {
  position: absolute;
  left: -1000%;
}
#toggle-btn:checked + .toggle-label {
  background-color: #00d22e;
}
#toggle-btn:checked + .toggle-label::before {
  content: "on";
  position: absolute;
  left: 8px;
  font-size: 8px;
  top: 50%;
  transform: translateY(-50%);
}
#toggle-btn:checked + .toggle-label::after {
  left: calc(100% - 18px);
}

.toggle-label {
  display: block;
  width: 46px;
  height: 20px;
  background-color: #d20000;
  border-radius: 20px;
  position: relative;
  transition: background 0.3s;
}
.toggle-label::before {
  content: "off";
  position: absolute;
  right: 8px;
  font-size: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.toggle-label::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 50%;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #ffffff;
  transform: translateY(-50%);
  transition: all 0.3s;
}

.target-area-main {
  width: 100%;
  height: 254px;
  background-color: #5a5a5a;
  margin-top: 8px;
}

.target-area-btn {
  width: 100%;
  height: 30px;
  margin-top: 8px;
  background-color: #6be2be;
  border: none;
  color: #1a1a1a;
  font-family: "500";
  font-size: 13px;
}

.target-main-right {
  width: 960px;
  height: auto;
  border: 2px solid #6be2be;
  border-radius: 6px;
}

/* ------------ */
/* walking.html */
/* ------------ */
.walking-modal-box {
  width: 596px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  border-radius: 6px;
  width: 952px;
}

.walking-modal-header-left {
  width: 168px;
}

.walking-main-container {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.walking-main-header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.walking-main-title {
  width: 180px;
  height: 45px;
  background-color: #6be2be;
  font-size: 20px;
  font-family: "700";
  color: black;
  text-align: center;
  line-height: 45px;
}

.walking-location {
  color: #6be2be;
}

.walking-main-box {
  width: 100%;
  box-sizing: border-box;
  padding: 24px;
  border: 4px solid #6be2be;
  display: flex;
  flex-direction: column;
}

.walking-main-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.walking-top-left {
  display: flex;
  flex-direction: column;
  height: 226px;
  justify-content: space-between;
  box-sizing: border-box;
}

.walking-time-box {
  width: 259px;
  height: 154px;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 16px;
}
.walking-time-box > div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.walking-time-box > div:nth-child(2) {
  margin-top: 16px;
}

.walking-time-title {
  font-family: "500";
  font-size: 14px;
}

.walking-time-start,
.walking-time-end {
  width: 100%;
  height: 28px;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  box-sizing: border-box;
  padding-left: 16px;
  line-height: 28px;
  margin-top: 8px;
}

.walking-area-box {
  width: 259px;
  height: 52px;
  box-sizing: border-box;
  padding: 0px 16px;
  line-height: 52px;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}

.walking-area-text {
  font-size: 14px;
}

.walking-top-right {
  width: 581px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.walking-box {
  width: 164px;
  height: 226px;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  box-sizing: border-box;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.walking-background {
  width: 100%;
  height: 170px;
  background: #5a5a5a;
}

.walking-start-btn,
.walking-end-btn,
.walking-complete-btn {
  width: 100%;
  height: 30px;
  background-color: #6be2be;
  font-family: "500";
  font-size: 14px;
  border: none;
  color: black;
}

.walking-main-bottom {
  width: 100%;
  height: 486px;
  box-sizing: border-box;
  border: 2px solid #6be2be;
  border-radius: 6px;
  margin-top: 16px;
}

/* -------------- */
/* <loading.html> */
/* -------------- */
.loading-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@-webkit-keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-img {
  -webkit-animation: roll 3s linear infinite;
          animation: roll 3s linear infinite;
  width: 64px;
  height: 64px;
}

.loading-msg {
  margin-top: 16px;
  color: white;
  font-family: "Pretendard700";
  font-size: 16px;
}

.loading-cancel-btn {
  width: 117px;
  height: 46px;
  background-color: #6be2be;
  font-family: "500";
  font-size: 15px;
  border: none;
  color: black;
  border-radius: 8px;
  margin-top: 36.5px;
}

/* ---------- */
/* human.html */
/* ---------- */
.human-modal-box {
  width: 596px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  border-radius: 6px;
  width: 396px;
}

.human-modal-header-left {
  width: 145px;
}

.human-modal-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 24px 20px;
}

.human-main-input {
  width: 100%;
  height: 44px;
  border: 1px solid #f1f1f1;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 0px 10px;
  background-color: transparent;
  font-family: "200";
  font-size: 18px;
  outline: none;
}

.human-time-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.human-minute-btn {
  width: 80px;
  height: 29px;
  border: none;
  background: #6be2be;
  border-radius: 6px;
  font-family: "500";
  color: black;
}

.human-start-box, .human-rank-box,
.human-precision-box, .human-end-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
}
.human-start-box > .human-main-text, .human-rank-box > .human-main-text,
.human-precision-box > .human-main-text, .human-end-box > .human-main-text {
  width: 60px;
  text-align: right;
  font-family: "500";
}

.human-end-box {
  margin-top: 8px;
}

.human-start,
.human-end {
  width: 276px;
  height: 44px;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 0px 16px;
  line-height: 44px;
}

.human-rank-box,
.human-precision-box {
  position: relative;
  margin-top: 16px;
}
.human-rank-box > .human-main-text,
.human-precision-box > .human-main-text {
  width: 93px;
  font-family: "500";
}

.human-rank {
  width: 243px;
  height: 44px;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  background-color: transparent;
  padding: 0px 16px;
  box-sizing: border-box;
}
.human-rank::-webkit-outer-spin-button, .human-rank::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.human-plus-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: none;
  background: url("/css/icons/plus-btn.svg") no-repeat;
  background-size: contain;
  right: 48px;
}

.human-minus-btn {
  position: absolute;
  background: url("/css/icons/minus-btn.svg") no-repeat;
  width: 20px;
  height: 20px;
  border: none;
  background-size: contain;
  right: 16px;
}

.human-precision {
  width: 243px;
  height: 44px;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: transparent;
  padding: 0px 16px;
  background: url("/css/icons/caret-down.svg") no-repeat right 16px center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.human-precision > option {
  color: black;
}

.human-modal-btn {
  display: flex;
  width: 249px;
  margin: 0 auto;
  margin-top: 24px;
  box-sizing: border-box;
  justify-content: space-between;
}

/* ---------- */
/* large.html */
/* ---------- */
.large-modal-box {
  width: 596px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  border-radius: 6px;
  width: 944px;
}

.large-modal-header-left {
  width: 102px;
}

.large-modal-main {
  width: 100%;
  box-sizing: border-box;
  padding: 24px;
  display: flex;
}

.large-img-box {
  width: 100%;
  height: 540px;
  box-sizing: border-box;
  border: 2px solid #6be2be;
  border-radius: 6px;
}

/* ----------- */
/* backup.html */
/* ----------- */
.backup-modal-box {
  width: 596px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  border-radius: 6px;
  width: auto;
}

.backup-modal-header-left {
  width: 145px;
}

.backup-modal-main {
  width: auto;
  padding: 20px;
  display: flex;
}

.backup-main-left {
  width: 248px;
  height: 669px;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
}

.backup-left-top {
  width: 100%;
  height: 316px;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
}

.backup-left-main {
  width: 100%;
  height: 196px;
  margin-top: 20px;
  box-sizing: border-box;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  padding: 20px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.backup-camera-box {
  width: 100%;
  display: flex;
}

.backup-left-text,
.backup-left-camera,
.backup-left-start,
.backup-left-end,
.backup-left-rank {
  font-size: 14px;
}

.backup-time-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: space-between;
}

.backup-rank-box {
  width: 100%;
  display: flex;
}

.backup-left-bottom {
  width: 100%;
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
}

.inner-rank-btn, .all-rank-btn {
  width: 100%;
  height: 33px;
  box-sizing: border-box;
  border: 2px solid #ff7e78;
  color: #ff7e78;
  font-family: "500";
  background-color: transparent;
}

.all-rank-btn {
  border: 2px solid #9290fe;
  color: #9290fe;
}

.backup-main-center {
  width: 623px;
  height: 669px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  margin-left: 20px;
  overflow: auto;
}
.backup-main-center::-webkit-scrollbar {
  width: 8px;
  background-color: #d9d9d9;
  border-radius: 8px;
}
.backup-main-center::-webkit-scrollbar-thumb {
  background-color: #ffb572;
  border-radius: 8px;
}

.backup-center-box {
  width: 100%;
  min-height: 272px;
  padding: 14px 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}

.center-box-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.center-header-global,
.center-header-local {
  width: 192px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center-header-text {
  font-size: 14px;
}

.count-global,
.count-local {
  width: 54px;
  box-sizing: border-box;
  border: 0.84375px solid #d4d4d4;
  border-radius: 5.0625px;
  background-color: transparent;
  padding: 0px 6px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("/css/icons/minus-btn.svg") no-repeat right 6px center;
  background-size: 14px;
  font-size: 13.5px;
}
.count-global > option,
.count-local > option {
  color: black;
}

.center-header-btn {
  width: 174px;
  display: flex;
  justify-content: space-between;
}

.select-all,
.delete-all {
  width: 83px;
  height: 26px;
  background: #6be2be;
  border-radius: 6px;
  color: black;
  font-family: "500";
  font-size: 12px;
  border: none;
}

.center-main-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 16px;
  overflow: auto;
}
.center-main-list::-webkit-scrollbar {
  height: 8px;
  background-color: #d9d9d9;
  border-radius: 8px;
}
.center-main-list::-webkit-scrollbar-thumb {
  background-color: #ffb572;
  border-radius: 8px;
}

.center-list-box {
  min-width: 127px;
  height: 175px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
  border-radius: 6px;
  margin-right: 12px;
}

.center-main-header {
  width: 100%;
  height: 30px;
  background: #545454;
  border-radius: 6px 6px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-header-title {
  font-family: "700";
  font-size: 14px;
  color: #ff7e78;
  filter: drop-shadow(0px 0px 9.05357px rgba(255, 126, 120, 0.8));
}

.center-main-body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.center-main-img-box {
  width: 100%;
  height: 98px;
  background: #191919;
}

.center-main-btn {
  width: 100%;
  height: 23px;
  box-sizing: border-box;
  margin-top: auto;
  border: 1px solid #6be2be;
  border-radius: 6px;
  background-color: transparent;
  font-family: "500";
  font-size: 10px;
}

.backup-main-right {
  width: 374px;
  height: 682px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin-left: 20px;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
}

.backup-right-top {
  width: 100%;
  height: 272px;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
}

.request-box,
.response-box {
  width: auto;
  height: 241px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.request-img-box,
.response-img-box {
  width: 131.5px;
  height: 218px;
  background: #5a5a5a;
}

.request-text, .response-text {
  font-family: "700";
  font-size: 12px;
  color: #f4db57;
  filter: drop-shadow(0px 0px 13.6994px rgba(244, 219, 87, 0.8));
}

.response-text {
  color: #6be2be;
}

.backup-right-bottom {
  width: 100%;
  height: 272px;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  background: linear-gradient(133.84deg, #4e4e4e -16.04%, #333333 9.33%, #1a1a1a 32.02%, #1a1a1a 62.06%, #262626 87.42%, #4e4e4e 112.12%);
}

.backup-right-list {
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
}
.backup-right-list::-webkit-scrollbar {
  height: 8px;
  background-color: #d9d9d9;
  border-radius: 8px;
}
.backup-right-list::-webkit-scrollbar-thumb {
  background-color: #ffb572;
  border-radius: 8px;
}

.right-list-box {
  margin: auto 0px;
  min-width: 162px;
  height: 222px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  border: 1px solid #6be2be;
}

.right-list-header {
  width: 100%;
  height: 28px;
  font-size: 12px;
  background: #191919;
}

.right-list-body {
  width: 100%;
  height: 100%;
}

.build-btn {
  width: 100%;
  height: 36px;
  background: #6be2be;
  border-radius: 6px;
  border: none;
  font-family: "500";
  font-size: 16px;
  color: black;
}

/* 태그 숨기기 클래스명 */
.hidden {
  display: none;
}/*# sourceMappingURL=modals.css.map */