<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/modals.css" />
    <link rel="stylesheet" href="/css/common.css" />
  </head>
  <body>
    <wrap class="modal-background">
      <div class="backup-modal-box">
        <div class="modal-header">
          <div class="backup-modal-header-left">
            <img src="/css/icons/modal-header-title.svg" alt="icon" />
            <span class="modal-title">후보 대상 선택</span>
          </div>
          <button type="button" class="modal-close-btn">
            <img src="/css/icons/modal-header-close.svg" alt="close-icon" />
          </button>
        </div>
        <div class="backup-modal-main">
          <div class="backup-main-left">
            <div class="backup-left-top"></div>
            <div class="backup-left-main">
              <div class="backup-camera-box">
                <span class="backup-left-text">대상 Camera :&nbsp;</span>
                <span class="backup-left-camera">12개</span>
              </div>
              <div class="backup-time-box">
                <span class="backup-left-text">범위(시작시간) :</span>
                <span class="backup-left-start">2022-12-02 10:35:00</span>
              </div>
              <div class="backup-time-box">
                <span class="backup-left-text">범위(끝시간) :</span>
                <span class="backup-left-end">2022-12-02 10:40:00</span>
              </div>
              <div class="backup-rank-box">
                <span class="backup-left-text">Cluster Rank :&nbsp;</span>
                <span class="backup-left-rank">10</span>
              </div>
            </div>
            <div class="backup-left-bottom">
              <button class="inner-rank-btn">Cluster 내부 순위</button>
              <button class="all-rank-btn">Cluster 전체 순위</button>
            </div>
          </div>
          <div class="backup-main-center">
            <div class="backup-center-box">
              <div class="center-box-header">
                <div class="center-header-global">
                  <span class="center-header-text">Global Cluster Count</span>
                  <select name="count-global" class="count-global">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                </div>
                <div class="center-header-local">
                  <span class="center-header-text">Local Cluster Count</span>
                  <select name="count-local" class="count-local">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                </div>
                <div class="center-header-btn">
                  <button class="select-all">Select All</button>
                  <button class="delete-all">Delete All</button>
                </div>
              </div>
              <div class="center-main-list">
                <div class="center-list-box">
                  <div class="center-main-header">
                    <span class="center-header-title">No.1</span>
                  </div>
                  <div class="center-main-body">
                    <div class="center-main-img-box"></div>
                    <button type="button" class="center-main-btn">선택</button>
                  </div>
                </div>
                <div class="center-list-box">
                  <div class="center-main-header">
                    <span class="center-header-title">No.1</span>
                  </div>
                  <div class="center-main-body">
                    <div class="center-main-img-box"></div>
                    <button type="button" class="center-main-btn">선택</button>
                  </div>
                </div>
                <div class="center-list-box">
                  <div class="center-main-header">
                    <span class="center-header-title">No.1</span>
                  </div>
                  <div class="center-main-body">
                    <div class="center-main-img-box"></div>
                    <button type="button" class="center-main-btn">선택</button>
                  </div>
                </div>
                <div class="center-list-box">
                  <div class="center-main-header">
                    <span class="center-header-title">No.1</span>
                  </div>
                  <div class="center-main-body">
                    <div class="center-main-img-box"></div>
                    <button type="button" class="center-main-btn">선택</button>
                  </div>
                </div>
                <div class="center-list-box">
                  <div class="center-main-header">
                    <span class="center-header-title">No.1</span>
                  </div>
                  <div class="center-main-body">
                    <div class="center-main-img-box"></div>
                    <button type="button" class="center-main-btn">선택</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="backup-center-box">
              <div class="center-box-header">
                <div class="center-header-global">
                  <span class="center-header-text">Global Cluster Count</span>
                  <select name="count-global" class="count-global">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                </div>
                <div class="center-header-local">
                  <span class="center-header-text">Local Cluster Count</span>
                  <select name="count-local" class="count-local">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                </div>
                <div class="center-header-btn">
                  <button class="select-all">Select All</button>
                  <button class="delete-all">Delete All</button>
                </div>
              </div>
              <div class="center-main-list">
                <div class="center-list-box">
                  <div class="center-main-header">
                    <span class="center-header-title">No.1</span>
                  </div>
                  <div class="center-main-body">
                    <div class="center-main-img-box"></div>
                    <button type="button" class="center-main-btn">선택</button>
                  </div>
                </div>
                <div class="center-list-box">
                  <div class="center-main-header">
                    <span class="center-header-title">No.1</span>
                  </div>
                  <div class="center-main-body">
                    <div class="center-main-img-box"></div>
                    <button type="button" class="center-main-btn">선택</button>
                  </div>
                </div>
                <div class="center-list-box">
                  <div class="center-main-header">
                    <span class="center-header-title">No.1</span>
                  </div>
                  <div class="center-main-body">
                    <div class="center-main-img-box"></div>
                    <button type="button" class="center-main-btn">선택</button>
                  </div>
                </div>
                <div class="center-list-box">
                  <div class="center-main-header">
                    <span class="center-header-title">No.1</span>
                  </div>
                  <div class="center-main-body">
                    <div class="center-main-img-box"></div>
                    <button type="button" class="center-main-btn">선택</button>
                  </div>
                </div>
                <div class="center-list-box">
                  <div class="center-main-header">
                    <span class="center-header-title">No.1</span>
                  </div>
                  <div class="center-main-body">
                    <div class="center-main-img-box"></div>
                    <button type="button" class="center-main-btn">선택</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="backup-center-box">
              <div class="center-box-header">
                <div class="center-header-global">
                  <span class="center-header-text">Global Cluster Count</span>
                  <select name="count-global" class="count-global">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                </div>
                <div class="center-header-local">
                  <span class="center-header-text">Local Cluster Count</span>
                  <select name="count-local" class="count-local">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                </div>
                <div class="center-header-btn">
                  <button class="select-all">Select All</button>
                  <button class="delete-all">Delete All</button>
                </div>
              </div>
              <div class="center-main-list">
                <div class="center-list-box">
                  <div class="center-main-header">
                    <span class="center-header-title">No.1</span>
                  </div>
                  <div class="center-main-body">
                    <div class="center-main-img-box"></div>
                    <button type="button" class="center-main-btn">선택</button>
                  </div>
                </div>
                <div class="center-list-box">
                  <div class="center-main-header">
                    <span class="center-header-title">No.1</span>
                  </div>
                  <div class="center-main-body">
                    <div class="center-main-img-box"></div>
                    <button type="button" class="center-main-btn">선택</button>
                  </div>
                </div>
                <div class="center-list-box">
                  <div class="center-main-header">
                    <span class="center-header-title">No.1</span>
                  </div>
                  <div class="center-main-body">
                    <div class="center-main-img-box"></div>
                    <button type="button" class="center-main-btn">선택</button>
                  </div>
                </div>
                <div class="center-list-box">
                  <div class="center-main-header">
                    <span class="center-header-title">No.1</span>
                  </div>
                  <div class="center-main-body">
                    <div class="center-main-img-box"></div>
                    <button type="button" class="center-main-btn">선택</button>
                  </div>
                </div>
                <div class="center-list-box">
                  <div class="center-main-header">
                    <span class="center-header-title">No.1</span>
                  </div>
                  <div class="center-main-body">
                    <div class="center-main-img-box"></div>
                    <button type="button" class="center-main-btn">선택</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="backup-main-right">
            <div class="backup-right-top">
              <div class="request-box">
                <div class="request-img-box"></div>
                <span class="request-text">요청</span>
              </div>
              <img src="/css/icons/left-yellow-arrow.svg" alt="left-arrow" />
              <img src="/css/icons/right-green-arrow.svg" alt="right-arrow" />
              <div class="response-box">
                <div class="response-img-box"></div>
                <span class="response-text">결과</span>
              </div>
            </div>
            <div class="backup-right-bottom">
              <div class="backup-right-list">
                <div class="right-list-box">
                  <div class="right-list-header">
                    P12017;3/3sbxxx0;이촌1동1102
                  </div>
                  <div class="right-list-body"></div>
                </div>
                <div class="right-list-box">
                  <div class="right-list-header">
                    P12017;3/3sbxxx0;이촌1동1102
                  </div>
                  <div class="right-list-body"></div>
                </div>
                <div class="right-list-box">
                  <div class="right-list-header">
                    P12017;3/3sbxxx0;이촌1동1102
                  </div>
                  <div class="right-list-body"></div>
                </div>
              </div>
            </div>
            <button class="build-btn">동선 구축</button>
          </div>
        </div>
      </div>
    </wrap>
  </body>
</html>
