<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/modals.css" />
    <link rel="stylesheet" href="/css/common.css" />
  </head>
  <body>
    <div class="modal-background">
      <div class="loading-main">
        <img class="loading-img" src="/css/icons/loading.svg" />
        <div class="loading-msg">영상을 분석중입니다.</div>
        <button class="loading-cancel-btn">요청취소</button>
      </div>
    </div>
  </body>
</html>
