<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/modals.css" />
    <link rel="stylesheet" href="/css/common.css" />
  </head>
  <body>
    <wrap class="modal-background">
      <div class="new-modal-box">
        <div class="modal-header">
          <div class="modal-header-left">
            <img src="/css/icons/modal-header-title.svg" alt="icon" />
            <span class="modal-title">신규등록</span>
          </div>
          <button type="button" class="modal-close-btn">
            <img src="/css/icons/modal-header-close.svg" alt="close-icon" />
          </button>
        </div>
        <form class="new-modal-main">
          <div>
            <span class="new-main-title">연락처</span>
            <input type="text" class="new-phone-num" name="phone-num" />
          </div>
          <div>
            <span class="new-main-title">이름</span>
            <input type="text" class="new-name" name="name" />
          </div>
          <div>
            <span class="new-main-title">성별</span>
            <select name="gender" class="new-gender">
              <option>선택</option>
              <option value="male">남</option>
              <option value="female">여</option>
            </select>
          </div>
          <div>
            <span class="new-main-title">나이</span>
            <input type="number" class="new-age" name="age" />
          </div>
          <div>
            <span class="new-main-title">신고위치</span>
            <input type="text" class="new-location" name="location" />
          </div>
          <div>
            <span class="new-main-title">세부사항</span>
            <textarea class="new-info" name="detail-info"></textarea>
          </div>
          <div class="new-modal-btn">
            <button type="button" class="modal-cancel-btn">취소</button>
            <input type="submit" class="modal-save-btn" value="저장" />
          </div>
        </form>
      </div>
    </wrap>
  </body>
</html>
