<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/modals.css" />
    <link rel="stylesheet" href="/css/common.css" />
  </head>
  <body>
    <wrap class="modal-background">
      <div class="save-modal-box">
        <div class="modal-header">
          <div class="modal-header-left">
            <img src="/css/icons/modal-header-title.svg" alt="icon" />
          </div>
          <button type="button" class="modal-close-btn">
            <img src="/css/icons/modal-header-close.svg" alt="close-icon" />
          </button>
        </div>
        <div class="save-modal-main">
          <span class="modal-text"></span>
        </div>
      </div>
    </wrap>
  </body>
</html>
