<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/modals.css" />
    <link rel="stylesheet" href="/css/common.css" />
  </head>
  <body>
    <wrap class="modal-background">
      <div class="target-modal-box">
        <div class="modal-header">
          <div class="target-modal-header-left">
            <img src="/css/icons/modal-header-title.svg" alt="icon" />
            <span class="modal-title">디바이스 선택</span>
          </div>
          <button type="button" class="modal-close-btn">
            <img src="/css/icons/modal-header-close.svg" alt="close-icon" />
          </button>
        </div>
        <div class="target-main-container">
          <div class="target-main-header">
            <span class="target-main-title">대상 선택 모드</span>
            <span class="target-location">P12017;3/3sbxxx0;서초4동1306</span>
          </div>
          <div class="target-main-box">
            <div class="target-main-left">
              <div class="target-time-box">
                <div>
                  <span class="target-time-title">시작 시간</span>
                  <span class="target-time-start">2022/06/13 17:06</span>
                </div>
                <div>
                  <span class="target-time-title">끝 시간</span>
                  <span class="target-time-end">2022/06/13 17:09</span>
                </div>
              </div>
              <div class="target-area-box">
                <div class="target-area-header">
                  <span class="target-area-text">영역 선택 모드</span>
                  <div class="target-area-toggle">
                    <input type="checkbox" id="toggle-btn" /><label
                      for="toggle-btn"
                      class="toggle-label"
                    ></label>
                  </div>
                </div>
                <div class="target-area-main"></div>
                <button class="target-area-btn">선택완료</button>
              </div>
            </div>
            <div class="target-main-right"></div>
          </div>
        </div>
      </div>
    </wrap>
  </body>
</html>
