<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/modals.css" />
    <link rel="stylesheet" href="/css/common.css" />
  </head>
  <body>
    <wrap class="modal-background">
      <div class="walking-modal-box">
        <div class="modal-header">
          <div class="walking-modal-header-left">
            <img src="/css/icons/modal-header-title.svg" alt="icon" />
            <span class="modal-title">장비에서 대상 검색</span>
          </div>
          <button type="button" class="modal-close-btn">
            <img src="/css/icons/modal-header-close.svg" alt="close-icon" />
          </button>
        </div>
        <div class="walking-main-container">
          <div class="walking-main-header">
            <span class="walking-main-title">법보행 모드</span>
            <span class="walking-location">P12017;3/3sbxxx0;서초4동1306</span>
          </div>
          <div class="walking-main-box">
            <div class="walking-main-top">
              <div class="walking-top-left">
                <div class="walking-time-box">
                  <div>
                    <span class="walking-time-title">시작 시간</span>
                    <span class="walking-time-start">2022/06/13 17:06</span>
                  </div>
                  <div>
                    <span class="walking-time-title">끝 시간</span>
                    <span class="walking-time-end">2022/06/13 17:09</span>
                  </div>
                </div>
                <div class="walking-area-box">
                  <span class="walking-area-text">영역 선택 모드</span>
                  <div class="walking-area-toggle"></div>
                </div>
              </div>
              <div class="walking-top-right">
                <div class="walking-box">
                  <div class="walking-background">
                    <img src="" alt="보행" class="walking-start-img" />
                  </div>
                  <button class="walking-start-btn">시작</button>
                </div>
                <img src="/css/icons/color-right-arrow.svg" alt="right-arrow" />
                <div class="walking-box">
                  <div class="walking-background">
                    <img src="" alt="보행" class="walking-end-img" />
                  </div>
                  <button class="walking-end-btn">종료</button>
                </div>
                <img src="/css/icons/color-right-arrow.svg" alt="right-arrow" />
                <div class="walking-box">
                  <div class="walking-background">
                    <img src="" alt="보행" class="walking-complete-img" />
                  </div>
                  <button class="walking-complete-btn">완료</button>
                </div>
              </div>
            </div>
            <div class="walking-main-bottom">
              <img src="" alt="" class="walking-main-img" />
            </div>
          </div>
        </div>
      </div>
    </wrap>
  </body>
</html>
