<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/complete.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/common.css" />

    <title>HAWKEYE</title>
  </head>
  <body>
    <wrap class="complete-background">
      <header>
        <div class="header-left-box">
          <button type="button" class="situation-btn">상황발생</button>
          <button type="button" class="map-btn">
            <img src="/css/icons/header-map.svg" alt="지도" class="main-map" />
            지도
          </button>
        </div>
        <img src="/css/images/header-logo.svg" alt="logo" class="header-logo" />
        <div class="header-right-box">
          <span class="header-id">엔아이소프트</span>
          <a href="" class="header-profile-btn"
            ><img
              src="/css/icons/header-profile.svg"
              alt="profile"
              class="header-profile"
          /></a>
        </div>
      </header>
      <div class="complete-main-box">
        <div class="complete-container">
          <div class="complete-header">
            <div class="complete-header-left">
              <a href="incomplete.html" class="incomplete-btn">미처리 내역</a>
              <a href="complete.html" class="complete-btn">처리 완료</a>
            </div>
            <form class="complete-header-right">
              <input
                type="search"
                class="complete-search"
                placeholder="검색어를 입력하세요."
                name="search-word"
              />
              <button type="submit" class="main-search-btn">
                <img src="/css/icons/main-search.svg" alt="돋보기" />
              </button>
            </form>
          </div>
          <div class="complete-main"></div>
        </div>
      </div>
    </wrap>
  </body>
</html>
