<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/incomplete.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <title>HAWKEYE</title>
  </head>
  <body>
    <wrap class="incomplete-background">
      <div class="incomplete-container">
        <div class="incomplete-header">
          <div class="incomplete-header-left">
            <a href="" class="incomplete-btn">미처리 내역</a>
            <a href="" class="complete-btn">처리 완료</a>
          </div>
          <form class="incomplete-header-right">
            <input
              type="search"
              class="incomplete-search"
              placeholder="검색어를 입력하세요."
              name="search-word"
            />
            <button type="submit" class="main-search-btn">
              <img src="/css/icons/main-search.svg" alt="돋보기" />
            </button>
          </form>
        </div>
        <div class="incomplete-main"></div>
      </div>
    </wrap>
  </body>
</html>
