<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <title>Login</title>
  </head>
  <body>
    <wrap class="login-background">
      <div class="login-box">
        <img src="/css/images/login-logo.svg" alt="logo" class="login-logo" />
        <div class="login-id-box">
          <img
            src="/css/icons/login-person.svg"
            alt="사람"
            class="login-person"
          />
          <input
            type="text"
            class="login-id"
            placeholder="아이디를 입력해 주세요."
          />
        </div>
        <div class="login-pw-box">
          <img
            src="/css/icons/login-lock.svg"
            alt="자물쇠"
            class="login-lock"
          />
          <input
            type="password"
            class="login-pw"
            placeholder="비밀번호를 입력해 주세요."
          />
        </div>
        <input type="submit" class="login-btn" value="로그인" />
      </div>
    </wrap>
  </body>
</html>
